<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seunmeme's Blog</title>
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.10.2/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.2/js/mui.min.js"></script>
</head>
<body>
    <div class="mui-container">  
        <div class="mui-appbar">
            <ul class="mui-tabs__bar">
                <li><a href="/index" data-mui-toggle="tab" data-mui-controls="pane-default-1">Home</a></li>
                <li><a href="/about" data-mui-toggle="tab" data-mui-controls="pane-default-2">About</a></li>
              </ul>
          </div>  
        {% block content %}{% endblock %}
    </div>
</body>
</html>